@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}



/* Stilizovanje navbar-a */
.custom-navbar {
  background-color: #c65A28 !important; 
  font-family: 'POPPINS', sans-serif;
  font-weight: bold;
}

/* Stilizovanje svih stavki u navbar-u */
.custom-navbar .navbar-brand, 
.custom-navbar .nav-link, 
.custom-navbar .dropdown-item {
  color: white !important;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 15px;
  text-decoration: none;
  position: relative;
}

/* Dodavanje linije ispod stavke */
.custom-navbar .nav-link::after {
  content: ""; 
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: white;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-out, visibility 0s 0.2s;
}

/* Hover efekat na stavke u navbar-u */
.custom-navbar .nav-link:hover::after {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.2s ease-out, visibility 0s;
}

/* Dropdown meni */
.custom-navbar .drop {
  position: relative;
}

/* Inicijalno sakrij meni sa opacity i visibility (ne sa display: none) */
.custom-navbar .dropdown-menu {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-out, visibility 0s 0.3s;
  background-color: #ffffff;
  border: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 9999;
  width: 200px;
}

/* Prikaz menija na hover */
.custom-navbar .drop:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease-out, visibility 0s;
}

/* Stilizovanje stavki unutar dropdown-a */
.custom-navbar .dropdown-item {
  color: rgba(39,38,98,255) !important;
  font-size: 20px !important;
  font-weight: bold !important;
  padding: 10px 15px;
}

/* Hover efekat na stavke unutar dropdown menija */
.custom-navbar .dropdown-item:hover {
  background-color: #c65A28;
  color: white;
}


/* dropdown sakrivanje za telefon */
@media (max-width: 768px) {
  .custom-navbar .dropdown-menu {
    display: none; /* Po defaultu sakrij */
  }

  .custom-navbar .drop.show .dropdown-menu {
    display: block; /* Prikaz kada je dropdown otvoren */
  }
}














.custom-image {
  max-width: 100%; /* Slika neće prelaziti širinu svog kontejnera */
  height: 300px;    /* Visina se prilagođava u skladu sa širinom */

}








/* Za centriranje container-a */
.centriranje {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 40px;


  font-family: 'POPPINS', sans-serif; /* Set font family */
}

/* Za centriranje slika i teksta u kolonama */
.custom-image {
  width: 80%; /* Možete promeniti ovu vrednost kako biste smanjili slike */
  height: auto;
  margin-bottom: 15px; /* Razmak između slike i imena */
}

/* Za naslove ispod slika */
h2 {
  font-weight: bold; /* Povećavamo debljinu fonta */
  margin-top: 10px;  /* Razmak između slike i naslova */
}

/* Za centriranje sadržaja unutar reda */
.row {
  display: flex;
  justify-content: center;
  text-align: center;
}

/* Za bolju raspodelu prostora između kolona */
.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px; /* Razmak između kolona */
}






/* Stil za div koji sadrži ikone */





.body {
  font-family: 'POPPINS', sans-serif;
}

.font {
  font-family: 'POPPINS', sans-serif;
  
}
.font2 {
  font-family: 'POPPINS', sans-serif;
  text-align: center;
}




.card-container {
  display: flex;
  justify-content: space-evenly; /* Distributes cards with equal spacing */
  gap: 20px; /* Adds space between the cards */
  flex-wrap: wrap; /* Allows wrapping of cards to the next row if the screen size is small */
  justify-content: center; /* Centers the cards horizontally */
  margin-top: 20px; /* Adds top margin */
}

.card-container .card {
  margin: 0 auto; /* Centers each card individually */
}


.card-image {
  height: 200px; /* Set fixed height for all card images */
  object-fit: fill; /* Ensure the image covers the area without distorting */
  width: 100%; /* Makes sure the image stretches to fill the width */
}

.card-dugme{
background-color: #c65A28!important;
border: 1px, solid,  black!important;

}

h2, .card, .card-img-top {
  font-family: 'Poppins', sans-serif;
}








.carousel-opis {
  background: #c65a2870; /* Poluprovidna crna pozadina */
  padding: 5px 15px; /* Smanjen padding */
  border-radius: 8px; /* Zaobljeni uglovi */
  max-width: 50%; /* Ograničava širinu caption-a */
  margin: 0 auto; /* Centriranje */
  font-family: 'POPPINS','sans-serif';
  
}

.carousel-stvar img {
  transition: transform 3s ease-in-out; /* Glatki prelaz u trajanju od 3 sekunde */
 
}

.carousel-stvar.active img {
  transform: scale(1.1); /* Zumira sliku za 10% */
}



.custom-carousel {
  width: 50vw; /* Postavlja širinu */
  max-width: 600px; /* Ograničava maksimalnu širinu */
}



.carousel-fade .carousel-item {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.carousel-fade .carousel-item.active {
  opacity: 1;
}

@media (max-width: 768px) {
  .carousel-stvar img {
    height: 300px !important; /* Prilagodi visinu slike */
    object-fit: cover;
  }

  .carousel-opis {
    width: 100%;
    height: 100px;
  }

  .carousel-opis h3 {
    font-size: 16px !important; /* Smanjen naslov */
    margin-bottom: 5px !important; /* Manji razmak ispod naslova */
  }

  .carousel-opis p {
    font-size: 12px !important; /* Smanjen opis */
    margin-bottom: 5 !important;
  }
}








.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  max-width: 600px;  /* Maksimalna širina forme */
  width: 90%;  /* Omogućava skaliranje na manjim ekranima */
  margin: auto;
  margin-top: 15px;
  padding: 20px;
  color: #1e1c50;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.contact-form input,
.contact-form textarea {
  width: 100%;  /* Uvek zauzima celu širinu forme */
  max-width: 500px;  /* Ograničenje širine na većim ekranima */
  padding: 12px;
  border: 1px solid #c65A28;
  border-radius: 5px;
  color: #c65A28;
  font-size: 16px;
  background-color: #fff;
}

.contact-form textarea {
  min-height: 100px;  /* Omogućava više teksta */
  resize: vertical;  /* Dozvoljava korisniku da menja visinu */
}

/* **Media Query za mobilne uređaje** */
@media (max-width: 768px) {
  .contact-form {
    width: 95%;  /* Širi se skoro do kraja ekrana */
    padding: 15px;
  }

  .contact-form input,
  .contact-form textarea {
    width: 100%;  /* Zauzima celu širinu forme */
    max-width: none;  /* Uklanja ograničenje širine */
  }
}


.contact-form button {
  background-color: #c65A28;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.contact-form button:hover {
  background-color: #1e1c50;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}







.nastavaTekst{
  max-width: 80%;
}

.kontaktPodaci{
  align-items: left;
}






.logo {
  
  
 
  filter: drop-shadow(5px 5px 10px #000000b7 );
}








.footer-section {
  text-align: center; /* Naslov ostaje centriran */
}

.footer-content {
  display: inline-block; /* Omogućava centriranje bloka */
  text-align: left; /* Tekst unutar bloka ostaje levo poravnat */
}


.footer-sectionIkonice{
  text-align: center; /* Naslov ostaje centriran */
  display: flex;
  justify-content: center;  /* Centriranje ikona horizontalno */
  align-items: center;  /* Centriranje ikona vertikalno */
  gap: 25px;  /* Razmak između ikona */
  margin-top: 20px;  /* Razmak od vrha */
}



/* Stil za svaku ikonu */
.footer-sectionIkonice a {
  text-decoration: none;  /* Uklanja podvlačenje */
  transition: transform 0.3s ease, color 0.3s ease;  /* Efekti pri prelasku kursora */
}

/* Hover efekti za ikone */
.footer-sectionIkonice a:hover {
  transform: scale(2.5);  /* Uvećava ikonu pri prelasku kursora */
}
